<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>林同棪（重庆）国际工程技术有限公司</title>
  <link rel="stylesheet" type="text/css" href="/jiangjin/static/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/jiangjin/static/css/style.css">
</head>

<body>
  <div class="cnt-wrap">
    <div data-id="1" class="j-v video1"></div>
    <div data-id="2" class="j-v video2"></div>
    <div data-id="3" class="j-v video3"></div>
    <div data-id="4" class="j-v video4"></div>
    <div data-id="5" class="j-v video5"></div>

    <div  data-id="1" class="tips tips-icon1"></div>
    <div  data-id="2" class="tips tips-icon2"></div>
    <div  data-id="3" class="tips tips-icon3"></div>
    <div  data-id="4" class="tips tips-icon4"></div>

    <div class="iframe-alert">
      <iframe id="myiframe" src="" frameborder=0></iframe>
      <div class="iframe-close"></div>
    </div>

    <div class="iframe-text">
      <p></p>
      <div class="iframe-close2"></div>
    </div>
  </div>
</body>
<script src="/jiangjin/static/js/jquery.min.js"></script>
<script src="/jiangjin/static/js/page.js"></script>

</html>
