<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- weather -->
<div id="weather-view-he"></div>
<script>
WIDGET = {ID: 'WYyHSUQPLT'};
</script>
<script type="text/javascript" src="https://apip.weatherdt.com/view/static/js/r.js?v=1111"></script>




<!-- 11111 -->
<script type="text/javascript">
WIDGET = {FID: 'ZKVA7mB1z3'}
</script>
<script type="text/javascript" src="https://apip.weatherdt.com/float/static/js/r.js?v=1111"></script>




</body>
</html>