<!DOCTYPE html>
<html>
<head>
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="/screen/static/js/umi.css">
    <meta charset="utf-8">
    <title>&#x91CD;&#x5E86;&#x5E02;&#x6C5F;&#x6D25;&#x533A;&#x6EE8;&#x6C5F;&#x5546;&#x52A1;&#x5927;&#x53A6;&#x9879;&#x76EE;</title>
    <script>window.routerBase = "/";</script>
    <script async src="/screen/static/js/pwacompat.min.js"></script>
</head>
<body>
<div id="root"></div>
<script src="/screen/static/js/umi.js"></script>
</body>
</html>